:root{
  --navbar-width: 5rem;
  --all: wheat;
  --currently-deeding: teal;
  --completed: limegreen;
  --on-hold: palevioletred;
  --dropped: tomato;
  --plan-to-deed: royalblue;
  --black-0: black;
  --black-1: #111;
  --black-2: #222;
  --black-3: #333;
  --black-4: #444;
  --black-5: #555;
  --white-e: #eee;
  --white-f: #fff;
  --navbar-background: rgba(0,0,0,0.8);
  --add-element-page-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  --detail-page-shadow: 0px 0px 30px var(--black-0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body::-webkit-scrollbar{
  display: none;
} */

body::-webkit-scrollbar{
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 0.25rem;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}